---
---

@import "{{ site.theme }}";

section {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border: 1px solid #aaaaaa;
    width: 150px;
    padding: 6px 9px 6px 9px;
}

nav > ul {
    list-style: outside none none !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

nav > ul ul {
    list-style: outside none none !important;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
}

.logo {
    display: none;
}

.download {
    display: block;
    padding: 2em 0.5em 2em 0.5em;
    border: 2px solid #4a6d7e;
    background-color: #74abc6;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align:center; width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

a.download:hover {
    background-color: #6493aa;
    color: white;
}

@media only screen and (min-width: 980px) {
nav {
    position: fixed;
    top: 4px;
    font-size: 95%;
    max-height: 98%;
    overflow-y: auto;
}
nav > ul ul {
    font-size: 95%
}
.logo {
    display: block;
    margin-bottom: 10px;
}
}

