---
---

@import "{{ site.theme }}";

section {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border: 1px solid #aaaaaa;
    width: 150px;
    padding: 6px 9px 6px 9px;
}

nav > ul {
    list-style: outside none none !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

nav > ul ul {
    list-style: outside none none !important;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
}

@media only screen and (min-width: 980px) {
nav {
    position: fixed;
    top: 80px;
    font-size: 95%
}
nav > ul ul {
    font-size: 95%
}
}

