<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7FMX716LJD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7FMX716LJD');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VSeeFace</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <section>
      <h1>VSeeFace</h1>
      </section>
      <nav>
      <div class="logo"><img src="/assets/img/VSF.png"></div>
      <h4>Contents</h4>
      <ul>
        <li><a href="./#about">About</a></li>
        <li><a href="./#download">Download</a></li>
        <li><a href="./#terms-of-use">Terms of use</a></li>
        <li><a href="./#credits">Credits</a></li>
        <li><a href="./#vsfavatar">VSFAvatar</a></li>
        <li><a href="./#tutorials">Tutorials</a></li>
        <li><a href="./#manual">Manual</a></li>
        <ul>
          <li><a href="./#faq">FAQ</a></li>
          <li><a href="./#virtual-camera">Virtual camera</a></li>
          <ul>
            <li><a href="./#transparent-virtual-camera">Transparency</a></li>
          </ul>
          <li><a href="./#network-tracking">Network tracking</a></li>
          <li><a href="./#special-blendshapes">Special blendshapes</a></li>
          <li><a href="./#expression-detection">Expressions</a></li>
          <li><a href="./#oscvmc-protocol-support">VMC protocol</a></li>
          <ul>
            <li><a href="./#model-animation-or-posing">Model posing</a></li>
            <li><a href="./#iphone-face-tracking">iPhone tracking</a></li>
            <li><a href="./#perception-neuron-tracking">Perception Neuron</a></li>
            <li><a href="./#full-body-tracking-with-threedposetracker">ThreeDPoseTracker</a></li>
            <li><a href="./#receiver">Troubleshooting</a></li>
          </ul>
          <li><a href="./#model-preview-in-unity">Preview in Unity</a></li>
          <li><a href="./#translations">Translations</a></li>
          <li><a href="./#running-on-linux-and-maybe-mac">Running on Linux</a></li>
          <li><a href="./#troubleshooting">Troubleshooting</a></li>
          <ul>
            <li><a href="./#startup-issues">Startup</a></li>
            <li><a href="./#webcam-and-tracking-issues">Tracking/Webcam</a></li>
            <li><a href="./#virtual-camera-issues">Virtual camera</a></li>
            <li><a href="./#model-issues">Model issues</a></li>
            <li><a href="./#lipsync-issues">Lipsync</a></li>
            <li><a href="./#game-capture-in-obs-is-slow-or-not-working">Game capture</a></li>
            <li><a href="./#settings-and-log-file-location">Log folder</a></li>
          </ul>
          <li><a href="./#performance-tuning">Performance</a></li>
          <ul>
            <li><a href="./#cpu">CPU</a></li>
            <li><a href="./#gpu">GPU</a></li>
          </ul>
        </ul>
        <li><a href="./#donations">Donations</a></li>
      </ul>
      </nav>
      <section>
      {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
